body {
  padding: 5px;
}

.row {
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}

.member_login {
  color: #000000;
  font-weight: 500;
}

.member_logout {
  color: #888888;
}

.color_select_color {
  margin: 2px;
  font-size: large;
  cursor: pointer;
}

.color_select_color:hover {
  background: #333333;
}

.selected {
  background: #333333;
}
