body {
  padding: 5px;
}

.row {
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}

.quote_button {
  color: #3c763d;
  cursor: pointer;
}

.color_select {
  display: block;
  width: inherit;
  text-align: center;
  color: #FFFFFF;
}
