body {
  padding: 5px;
}

.row {
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}

.color_select_color {
  margin: 2px;
  font-size: large;
  cursor: pointer;
}

.color_select_color:hover {
  background: #333333;
}

.selected {
  background: #333333;
}

.quote_button {
  color: #3c763d;
  cursor: pointer;
}
